*{
    font-family: 'Raleway'
}
body{
    background-color: #DED29E;
    text-align: center;
}
#content{
    margin: 100px auto;
}
.post{
    border: 1px solid grey;
    background: #FFFFFF;
    margin-bottom: 20px
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}